@import "vendor/normalize/normalize";
@import "vendor/bourbon/bourbon";
@import "base/base";
@import "vendor/neat/neat";

#slates-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.slate-container {
  display: table;
  height: 100%;
  width: 100%;

  .slate {
    display: table-cell;
    vertical-align: middle;

    .slate-content {
      @include outer-container;
      text-align: center;
    }
  }
}

#slate-1 {
  background-color: $soft-blue;
  color: $hard-blue;
  .slate-content {
    #svg-container {
      circle {
        fill: $hard-blue;
      }
    }
  }
}

#slate-2 {
  background-color: $soft-violet;
  color: $hard-violet;
  .slate-content {
    circle {
      fill: $hard-violet;
    }
  }
}

#slate-3 {
  background-color: $soft-pink;
  color: $hard-pink;
  .slate-content {
    circle {
      fill: $hard-pink;
    }
  }
}

#slate-4 {
  background-color: $soft-crimson;
  color: $hard-crimson;
  .slate-content {
    circle {
      fill: $hard-crimson;
    }
  }
}

#slate-5 {
  background-color: $soft-yellow;
  color: $hard-yellow;
  .slate-content {
    circle {
      fill: $hard-yellow;
    }
  }
}

#slate-6 {
  background-color: $soft-green;
  color: $hard-green;
  .slate-content {
    circle {
      fill: $hard-green;
    }
  }
}
