@import "vendor/normalize/normalize";
@import "vendor/bourbon/bourbon";
@import "base/base";
@import "vendor/neat/neat";
@import "slates/slate-1";
@import "slates/slate-2";
@import "slates/slate-3";
@import "slates/slate-4";
@import "slates/slate-5";
@import "slates/slate-6";
@import "slates/slate-7";
@import "slates/slate-8";

#slates-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.slate-container {
  display: table;
  height: 100%;
  width: 100%;

  .slate {
    display: table-cell;
    vertical-align: middle;

    .slate-content {
      @include outer-container;
      text-align: center;
    }
  }
}
