#slate-3 {
  background-color: $soft-green;
  color: $hard-green;
  .slate-content {
    circle {
      fill: $hard-green;
    }
    rect {
      stroke: $hard-green;
      stroke-width: 2;
      fill: none;
    }
    line {
      stroke: $hard-green;
      stroke-width: 2;
      &.dashed {
        stroke-dasharray: 5 5;
      }
    }
  }
}
