#slate-3 {
  background-color: $soft-green;
  color: $hard-green;
  .slate-content {

    .service {
      circle {
        fill: $hard-violet;
      }
      rect {
        stroke: $hard-violet;
        stroke-width: 2;
        fill: none;
      }
      line {
        stroke: $hard-violet;
        stroke-width: 2;
        &.dashed {
          stroke-dasharray: 5 5;
        }
      }
      text {
        fill: $hard-violet;
      }
    }

    .dev,
    .qa,
    .prod {
      circle {
        stroke: $dark-gray;
        stroke-width: 2;
        fill: $light-gray;
      }

      line {
        stroke: $dark-gray;
        stroke-width: 2;
        &.dashed {
          stroke-dasharray: 5 5;
        }
      }
      text {
        fill: $dark-gray;
        text-anchor: middle;
      }
    }

    .trigger {
      line {
        stroke: $hard-violet;
        stroke-width: 4;
      }
    }

    .build {
      circle {
        fill: $hard-violet;
      }

      text {
        fill: $hard-violet;
        font-size: small;
        text-anchor: left;
      }
    }
  }
}
