#{$all-button-inputs},
button {
  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  background-color: $base-button-color;
  border-radius: $base-border-radius;
  border: 2px solid $off-white;
  color: $dark-gray;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size * 1.5;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  margin-top: 1.3em;
  margin-bottom: 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  @include transition(background-color 0.2s, color 0.1s);

  &:hover {
    color: $off-white;
    background-color: $dark-gray;
  }

  &:disabled:hover {
    cursor: default;
    color: $dark-gray;
    background-color: $base-button-color;
  }

  &:focus {
    outline: 0;
  }
}
