@import "vendor/neat/neat-helpers";

// Neat Overrides
$column: 3;
$gutter: 1;
$grid-columns: 24;
$max-width: em(1088);

$visual-grid: false;
$visual-grid-color: white;
$visual-grid-index: front;
$visual-grid-opacity: 0.3;
