// Typography
$base-font-family: $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;
$h1-font-size: $base-font-size * 4;
$h2-font-size: $base-font-size * 3.5;
$h3-font-size: $base-font-size * 3;
$h4-font-size: $base-font-size * 2.5;
$h5-font-size: $base-font-size * 2;
$h6-font-size: $base-font-size * 1.5;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 5px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$off-white: #f1f1f1;
$blue: #477dca;
$dark-gray: #343434;
$medium-gray: #999;
$light-gray: #ddd;
$soft-blue: #E5F7FD;
$hard-blue: #2DBCF0;
$soft-violet: #EAEAF4;
$hard-violet: #2E3192;
$soft-pink: #FDE5F3;
$hard-pink: #ED0F93;
$soft-crimson: #F9E7E8;
$hard-crimson: #C4161C;
$soft-yellow: #FEF6E8;
$hard-yellow: #FAA61A;
$soft-green: #F3F9EB;
$hard-green: #8CC63F;

// Background Color
$base-background-color: $dark-gray;

// Backdrop Color
$backdrop-dim: $base-background-color;
$backdrop-luminous: $off-white;

// Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $dark-gray;
$action-color: $blue;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);
$base-button-color: $base-link-color;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
